config {
    testsDir "."
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"
    configFile "tests/nextflow_subworkflow.config"
    ignore 'modules/nf-core/**/tests/*', 'subworkflows/nf-core/**/tests/*'
    profile "test"

    // Files whose change triggers a full test run.
    triggers 'nextflow.config', 'nextflow_citadel.config', 'nf-test.config', 'conf/base.config', 'conf/modules.config', 'tests/nextflow_clinical.config', 'tests/nextflow_clinical_generated.config', 'tests/nextflow_clinical_template.config', 'tests/nextflow_genomic.config', 'tests/nextflow_both.config', 'tests/nextflow_incremental.config', 'tests/nextflow_mutations.config', 'tests/nextflow_subworkflow.config', 'tests/.nftignore', 'subworkflows/local/**', 'modules/local/**', 'workflows/**', 'bin/**'

    plugins {
        load "nft-utils@0.0.3"
    }
}
